.training_gc_chat div.chatLog {
  border: 2px solid;
  width: 250px;
  height: 150px;
  overflow: scroll;
}

.training_gc_chat span.received {
  color: blue;
  text-align: left;
}

.training_gc_chat span.sent {
  color: green;
  text-decoration: bold;
  text-align: right;
}

.training_gc_chat span.alert {
  color: red;
  text-decoration: bold;
  text-align: right;
}